#!/usr/bin/env python
PACKAGE = "rc_pick_client"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# name, type,level, descriptiion, default, min, max
gen.add("max_grasps",      int_t, 0, "Maximum number of provided grasps", 5, 1, 20)
gen.add("load_carrier_crop_distance",     double_t, 0, "Safety margin in meters by which the load carrier inner dimensions are reduced to define the region of interest for grasp computation", 0.005, 0.0, 0.02)
gen.add("load_carrier_model_tolerance",   double_t,   0, "Indicates how much the estimated load carrier dimensions are allowed to differ from the load carrier model dimensions in meters",  0.008,0.003,0.025)

gen.add("cluster_max_dimension", double_t, 0, "Diameter of the largest sphere enclosing each cluster in meters. Clusters larger than this value are filtered out before grasp computation.", 0.3, 0.05, 0.8)
gen.add("cluster_max_curvature",      double_t, 0, "Maximum curvature allowed within one cluster. The smaller this value, the more clusters will be split apart.", 0.11, 0.005, 0.5)
gen.add("clustering_patch_size",      int_t, 0, "Size in pixels of the square patches the depth map is subdivided into during the first clustering step", 4,3,10)
gen.add("clustering_max_surface_rmse",      double_t, 0, "Maximum root-mean-square error (RMSE) in meters of points belonging to a surface", 0.004,0.0005,0.01)
gen.add("clustering_discontinuity_factor",      double_t, 0, "Factor used to discriminate depth discontinuities within a patch. The smaller this value, the more clusters will be split apart.", 1,0.5,5)

exit(gen.generate(PACKAGE, "rc_pick_client", "itempick"))