<?xml version="1.0"?>

<robot name="rc_visard_160" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="rc_160" params="prefix parent *origin">

    <joint name="${prefix}camera_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}camera"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}camera">
      <visual>
        <geometry>
          <mesh filename="package://rc_visard_description/meshes/visual/rc_visard_160.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://rc_visard_description/meshes/collision/rc_visard_160.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.675"/>
        <inertia ixx="1.53" ixy="0.0" ixz="2.3" iyy="11.2" iyz="0.0" izz="10.6"/>
      </inertial>
    </link>

  <link name="${prefix}mounting"/>

  <joint name="${prefix}mounting_to_camera" type="fixed">
    <parent link="${prefix}camera"/>
    <child link="${prefix}mounting"/>
    <origin xyz="0.080 0.0375 -0.031" />
  </joint>

  </xacro:macro>
</robot>
